/*
 * https://openlibrary.org/swagger/docs#/search/read_search_json_search_json_get 
 */
:root {
    /* darcula color theme */
    --background: #282A36;
    --current-line: #6272A4;
    --selection: #44475A;
    --foreground: #F8F8F2;
    --comment: #6272A4;
    --red: #FF5555;
    --orange: #FFB86C;
    --yellow: #F1FA8C;
    --green: #50FA7B;
    --cyan: #8BE9FD;
    --purple: #BD93F9;
    --pink: #FF79C6;
}

body {
    h1 {
      color: var(--foreground);
    }
}

.nav {
    width: 100%;
    background-color: #595A76;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .nav-item {
        background-color: #595F79;
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .selected {
        text-decoration: underline;
    }
}

#login-notif {
    margin-left: 1rem;
}

.filter-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

#search-bar {
  width: 50%;
  margin: 1rem;
  border: 2px solid var(--foreground);
}

.book-entry {
    width: 100px;
    height: 150px;
    background-color: var(--foreground);
    position: relative;
    transition: width 0.5s ease-out;
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    overflow: hidden;
    .main-block {
        display: block;
        width: 100%;
        height: 100%;
        .info {
            position: absolute;
            top: -10px;
            right: -10px;
            width: 20px;
            height: 20px;
            background-color: var(--pink);
            border-radius: 50%;
            margin: auto;
            .i {
                padding-left: 0.5rem;
            }
        }
    }
    .info-block {
        display: none;
        overflow: auto;
    }
    .cover {
        margin: auto;
        padding: auto;
        width: 100px;
        height: 100%;
        text-align: center;
        transition: width 0.25s ease-in;
        transition: height 0.5s ease-in;
        :hover {
            cursor: pointer;
        }
    }
}
.book-entry:hover {
    border: 1px solid red;
    transform: translate(-1, -1);
}
.book-entry.info {
    width: 200px;
    transition: width 0.5s ease-out;
    .cover {
      transition: width 0.5s ease-out;
      transition: height 0.5s ease-out;
    }
}

.library {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

body {
    background-color: var(--background);
}

.error-modal-container {
  width: 100%;
  height: 300px;
  .error-modal {
    width: 300px;
    height: 100%;
    margin: auto;
    background-color: red;
    border 5px solid blue;
  }
}

.book-info-modal-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  position: fixed;
  z-index: 1;
  overflow: auto;
  top: 0;
  background-color: #00000090;
  display: flex;
  flex-direction: row;
  .book-info-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 40%;
    background-color: var(--current-line);
    border: 5px solid var(--current-line);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
  }
  .book-info-modal-image {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
    img {
      width: 100px;
      height: 150px;
    }
  }
}
